:80 {
    root * /var/www/html/{{DOCUMENT_ROOT}}
    
    # Enable PHP-FPM
    php_fastcgi {{PROJECT_NAME}}-php:9000
    
    # Enable file server
    file_server
    
    # Logging
    log {
        output stdout
        format console
    }
}
